{% extends "base.html" %}
{% block title %}About us {% endblock %}
{% block content %}
<div class="container about-title text-center mt-3">
    <h1>SEO Keywords Tool</h1>
<div>
<div class="p-5 about-section">
        <div class="text-start">
            <h3 class="text-decoration-underline">Values</h3>
            <ul>
                <li>Gain deep insights into keyword performance, search volume, and competition</li>
                <li>Optimize content and web pages precisely</li>
                <li>Attract organic traffic</li>
                <li>Maximize conversions</li>
            </ul>
        </div>
        <div class="text-start">
            <h3 class="text-decoration-underline" my-2>3 Main Functions</h3>
            <ol>
                <li>Select keywords types and search (real-time keywords data)</li>
                <ul>
                   <li>Region</li>
                   <li>Queries</li>
                   <li>Topics</li> 
                </ul>
                <li>Download charts</li>
                <ul>
                    <li>Pie chart: Region | related continents</li>
                    <li>Bar chart: Queries & Topics | common queries & related topics</li>
                </ul>
                <li>Search histroy</li>
                <ul>
                    <li>Saved users' search data and charts</li>
                </ul>
            </ol>
        </div>
</div>
{% endblock %}