<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid d-flex">
        <div class="title">
          <a class="font-weight-bold fw-bold" href="/">SEO Keywords Planner</a>
        </div>
        <ul class="nav justify-content-end menu">
          {% if logged_in%}
          <li class="nav-item">
            <span class="nav-link">User:{{username}}</span>
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if active_page == 'about' %}active{% endif %}"
              href="{{ url_for('about')}}"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if active_page == 'home' %}active{% endif %}"
              href="{{ url_for('home')}}"
              >Search</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if active_page == 'update_info' %}active{% endif %}"
              href="{{ url_for('update_info')}}"
              >Account</a
            >           
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if active_page == 'signup' %}active{% endif %}"
              href="{{ url_for('signout')}}"
              >Sign Out</a
            >
          </li>

          {% else %}
          <li class="nav-item">
            <a
              class="nav-link {% if active_page == 'demo' %}active{% endif %}"
              href="{{ url_for('demo')}}"
              >Demo</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if active_page == 'about' %}active{% endif %}"
              href="{{ url_for('about')}}"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if active_page == 'signup' %}active{% endif %}"
              href="{{ url_for('signup')}}"
              >Sign Up</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {% if active_page == 'login' %}active{% endif %}"
              href="{{ url_for('login')}}"
              >Login</a
            >
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
    {% block content%} {% endblock %}
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
    ></script>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  </body>
</html>
