{% extends "base.html" %} 
{% block title %}Demo{% endblock %} 
{% block content %}
<div class="py-2 intro-section">
    <div class="container text-center text-white fw-bold">
      <h1>SEO Keywords Tool</h1>
      <p class="my-1">A tool to discover the best keywords to target</p>
      <div class="search-bar-section text-start">
        <p class="my-1">Use cityu keyword as the demo data</p>
        <form id="searchForm" method="POST">
        <div class="input-group my-1 mb-4">
          <div class="form-outline">
            <input id="search-focus" type="search" class="form-control" name="demo_keyword" value="{{ demo_keyword }}"/>
            <label class="form-label" for="form1">Search</label>
          </div>
          <select id="demo_data_type" name="demo_type" form="searchForm">
            <option value="GEO_MAP_0" {% if demo_type == 'GEO_MAP_0' %} selected {% endif %}>Region</option>
            <option value="RELATED_QUERIES" {% if demo_type == 'RELATED_QUERIES' %} selected {% endif %}>Queries</option>
            <option value="RELATED_TOPICS" {% if demo_type == 'RELATED_TOPICS' %} selected {% endif %}>Topics</option>
          </select>
          <button type="submit" class="btn btn-primary ml-2" id="searchBtn">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center d-none" id="loadingEffect">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
  {% if not demo_keyword%}
  <div class="container-lg mt-4">
    <div class="row card-deck">
      <div class="col-lg-4 text-center py-3">
        <div class="card py-3 steps-section">
          <i class="fas fa-search fa-2x"></i>
          <div class="card-body">
            <h5 class="card-title">Step1: Enter Keyword</h5>
            <p class="card-text">Type keyword on the <span class="fw-bold">search bar</span></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-center py-3">
        <div class="card py-3 steps-section">
          <i class="fa-regular fa-hand-pointer fa-2x"></i>
          <div class="card-body">
            <h5 class="card-title">Step2: Select Type and Search</h5>
            <p class="card-text">Types: <span class='fw-bold'>Region, Queries, Topics</span></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 text-center py-3">
        <div class="card py-3 steps-section">
          <i class="fa-solid fa-download fa-2x"></i>
          <div class="card-body">
            <h5 class="card-title">Step3: Download Image</h5>
            <p class="card-text">Charts: <span class="fw-bold">Pie chart, Bar chart</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="container mt-4">
    {% if demo_keyword == 'cityu' or demo_keyword == 'Cityu'%}
     <h3 id="demo_keywordValue" class="keyword_result">Keyword results for {{demo_keyword}}</h3>
      {% if demo_type == "GEO_MAP_0"%}
      <div class="alert alert-info" role="alert">
        <p class="mb-1">The top3 highest locations are:</p>
        <ol>
          {% for location in top3_demo_data %}
          <li><span class="fw-bold">{{ location }}</span></li>
          {% endfor %}
        </ol>
        <p><span class="fw-bold">*Location: </span>particular region</p>
        <p style="margin-top:-20px;"><span class="fw-bold">*Location(short-form): </span>matching the related continent</p>
        <p style="margin-top:-20px;"><span class="fw-bold">*Continent: </span>continent of the location</p>
        <p style="margin-top:-20px;"><span class="fw-bold">*Value: </span>100:highest popularity | 0:lowest popularity</p>
      </div>
      {% elif demo_type == "RELATED_QUERIES"%}
      <div class="alert alert-info" role="alert">
        <p class="mb-1">The top3 hot seach keywords are:</p>
        <ol>
          {% for location in top3_demo_data %}
          <li><span class="fw-bold">{{ location }}</span></li>
          {% endfor %}
        </ol>
        <p><span class="fw-bold">*Queries: </span>other related searching keywords</p>
        <p style="margin-top:-20px;"><span class="fw-bold">*Value: </span>100:highly related | 0:lowest related</p>
      </div>
      {% elif demo_type == "RELATED_TOPICS"%}
      <div class="alert alert-info" role="alert">
        <p class="mb-1">The top3 prevalent topics are:</p>
        <ol>
          {% for location in top3_demo_data %}
          <li><span class="fw-bold">{{ location }}</span></li>
          {% endfor %}
        </ol>
        <p><span class="fw-bold">*Topics: </span>suggested topics for the searching keyword</p>
        <p style="margin-top:-20px;"><span class="fw-bold">*Types: </span>Types of the topics</p>
        <p style="margin-top:-20px;"><span class="fw-bold">*Value: </span>100:highly related | 0:lowest related</p>
      </div>
      {% endif %} 
      {% if demo_data %}
      <table id="searchResultsTable" class="table table-striped">
          <thead>
            <tr class="searchResultColumn">
              {% if demo_type == "GEO_MAP_0" %}
              <th id="col-1">Location</th>
              <th id="col-2">Location(short-form)</th>
              <th id="col-3">Continent</th>
              <th id="col-4">Value</th>
              {% elif demo_type == "RELATED_QUERIES" %}
              <th id="col-1">Queries</th>
              <th id="col-2">Value(%)</th>
              {% elif demo_type == "RELATED_TOPICS" %}
              <th id="col-1">Topics</th>
              <th id="col-2">Types</th>
              <th id="col-3">Value</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for item in demo_data %}
            <tr>
              {% for key, value in item.items() %}
              <td>{{ value }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if demo_chart %}
        <div class="mb-3 text-center">
          <h4 class='keyword_result'>Chart Image</h4>
          <img src = "{{demo_chart}}" />
          <br>
          <a class="btn btn-primary my-3 w-25" 
          href="{{ demo_chart }}" 
          download="cityu_{{ demo_type_dict.get(demo_type) }}.png">
            Download
        </a>
        </div>
        {% endif%}
      {% endif %}
    {% elif demo_keyword and demo_keyword != 'cityu' and demo_keyword != 'Cityu' %}
      <div class="alert alert-warning" role="alert">
        <p class="text-center my-2">Only cityu keyword is allowed for demo page.</p>
      </div>
    {% endif %}  
</div>
{% endblock %}