{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="py-2 intro-section">
  <div class="container text-center text-white fw-bold">
    <h1>SEO Keywords Tool</h1>
    <p class="my-1">A tool to discover the best keywords to target</p>
    <div class="search-bar-section text-start">
      <p class="my-1">Enter a keyword</p>
      <form id="searchForm" method="POST">
      <div class="input-group my-1 mb-4">
        <div class="form-outline">
          <input id="search-focus" type="search" class="form-control" name="keyword" value="{{ keyword }}"/>
          <label class="form-label" for="form1">Search</label>
        </div>
        <select id="data_type" name="type" form="searchForm">
          <option value="GEO_MAP_0" {% if type == 'GEO_MAP_0' %} selected {% endif %}>Region</option>
          <option value="RELATED_QUERIES" {% if type == 'RELATED_QUERIES' %} selected {% endif %}>Queries</option>
          <option value="RELATED_TOPICS" {% if type == 'RELATED_TOPICS' %} selected {% endif %}>Topics</option>
        </select>
        <button type="submit" class="btn btn-primary ml-2" id="searchBtn">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center d-none" id="loadingEffect">
  <div class="spinner-border text-primary" role="status"></div>
</div>
<div class="container mt-4">
  {% if keyword %}
  <h3 id="keywordValue" class="keyword_result">Keyword results for {{keyword}}</h3>
  {% endif %} 
  <table id="searchResultsTable" class="table table-striped">
    <thead>
      <tr class="searchResultColumn">
        {% if type == "GEO_MAP_0" %}
        <th id="col-1">Continent(short-form)</th>
        <th id="col-2">Location</th>
        <th id="col-3">Value</th>
        {% elif type == "RELATED_QUERIES" %}
        <th id="col-1">Queries</th>
        <th id="col-2">Value(%)</th>
        {% elif type == "RELATED_TOPICS" %}
        <th id="col-1">Topics</th>
        <th id="col-2">Types</th>
        <th id="col-3">Value(%)</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for item in data_list %}
      <tr>
        {% for key, value in item.items() %}
        <td>{{ value }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if image_filename %}
  <h4>Chart Image</h4>
  <img src="{{ url_for('static', filename=image_filename[7:]) }}" />
  <h5>Download the chart</h5>
  <p>
    <a href="{{url_for('static', filename=image_filename[7:])}}">Download</a>
  </p>
  {% endif %} 
</div>


{% endblock %}
