{% extends "base.html" %} {% block title %}Home{% endblock %} {% set active_page
= "home" %} {% block content %}
<div class="py-2 intro-section">
  <div class="container text-center text-white fw-bold">
    <h1>SEO Keywords Tool</h1>
    <p class="my-1">A tool to discover the best keywords to target</p>
    <div class="search-bar-section text-start">
      <p class="my-1">Enter a keyword</p>
      <div class="input-group my-1 mb-4">
        <div class="form-outline">
          <input
            id="search-focus"
            type="search"
            id="form1"
            class="form-control"
          />
          <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
