{% extends "base.html" %} {% block title %}Login In{% endblock %} {% block
  content%}
  <!-- Section: Design Block -->
  <section class="text-center">
    <!-- Background image -->
    <div
      class="p-5 bg-image"
      style="
        background-image: url({{ url_for('static', filename='img/login-img.jpg') }});
        height: 300px;
      "
    ></div>
    <!-- Background image -->
  
    <div
      class="card mx-4 mx-md-5 shadow-5-strong login-card"
      style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
      "
    >
      <div class="card-body py-5 px-md-5">
        <div class="row d-flex justify-content-center">
          {% if error_message %}
          <div class="alert alert-danger error-signup-alert pb-1" role="alert">
            <p class="text-center">{{error_message}}</p>
          </div>
          {% endif %}
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">LOGIN</h2>
            <form method="POST" action="">
              <!-- Username input -->
              <div class="form-outline mb-4">
                <input type="username" id="form3Example1" class="form-control" name="username"/>
                <label class="form-label" for="form3Example1"
                  >Username</label
                >
              </div>
  
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="form3Example2" class="form-control" name="password"/>
                <label class="form-label" for="form3Example2">Password</label>
              </div>
  
              <!-- Submit button -->
              <button
                type="submit"
                class="btn btn-primary btn-block mb-4 login-btn"
              >
                Login In
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
  {% endblock%}