{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content%}
    <!-- Jumbotron -->
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
    <style>
      .cascading-right {
        margin-right: -50px;
      }

      @media (max-width: 991.98px) {
        .cascading-right {
          margin-right: 0;
        }
      }
    </style>

    <!-- Jumbotron -->
    <div class="container py-4">
      <div class="row g-0 align-items-center">
        {% if signup_error %}
        <div class="alert alert-danger error-signup-alert pb-1" role="alert">
          <p class="text-center">{{signup_error}}</p>
        </div>
        {% endif %}
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(30px);
              ">
            <div class="card-body p-5 shadow-5 text-center">
              <h2 class="fw-bold mb-5">SIGN UP NOW</h2>
              <form method="POST" action="/signup">
                <!-- Username input -->
                <div class="form-outline mb-4">
                  <input type="username" id="form3Example1" class="form-control" name="username" />
                  <label class="form-label" for="form3Example1"
                    >Username</label
                  >
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example2" class="form-control" name="password"/>
                  <label class="form-label" for="form3Example2">Password</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" class="form-control" name="email"/>
                  <label class="form-label" for="form3Example3">Email</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4 signup-btn">
                  Sign up
                </button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <img src="{{url_for('static', filename='img/signup-img.png')}}" class="w-100 rounded-4 shadow-4 signup-img"
            alt="signup-banner" />
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
  {% endblock%}